
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
# Backend
backend/vendor/
backend/var/
backend/.env.local

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env.local

# IDE
.idea/
.vscode/
*.swp
.DS_Store
